@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bitcount+Grid+Single:wght@100..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@media (max-width: 768px){
body {
  text-align: left;
  }
p,li {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  }
fieldset {
  width: 100%;
  margin: 10px auto;
  }
table,#table1,#table2 {
  width: 100%;
  font-size: 14px;
  }
img {
  width: 200px;
  height: auto;
  }
iframe,object,video {
  width: 100%;
  height: 300px;
  }
}
@media (max-width: 400px){
h1,h2 {
  font-size: 18px;
  }
p,li {
  font-size: 14px;
  padding: 8px;
  }
button {
  width: 100%;
  font-size: 14px;
  padding: 6px;
  }
img {
  width: 150px;
  height: auto;
  }
iframe,object,video {
  height: 250px;
  }
}
body{
  background-color: #ffd2d2;
  text-align: center;
}
h1{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  color: cadetblue;
  background-color: #badfdb;
  text-align: center;
}
h2{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  background-color: #ffa4a4;
  color: rgb(50, 100, 102);
  text-align: center;
}
p{
  font-family: "Playwrite HR";
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  color: rgb(253, 73, 73);
  background-color: azure;
  padding: 15px;
  width: 700px;
  text-align: left;
  border-radius: 10px;
}
span{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: bold;
  color: red;
}
li{
  font-family: "Playwrite HR";
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  color: rgb(253, 73, 73);
  background-color: azure;
  padding: 10px;
  width: 700px;
  text-align: left;
  border-radius: 6px;
}
ol{
  list-style-type: upper-alpha;
}
ul{
  list-style-type: circle;
  display: inline-flexbox;
}
fieldset{
  display: block;
  margin: 0 auto;
  color: rgb(204, 87, 240);
  border-color: azure;
  border-radius: 9px;
  border-width: auto;
  width: 600px;
}
legend{
  color: hotpink;
  background-color: azure;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: oblique;
}
button{
  color: #fcc7c7;
  background-color: rgb(255, 105, 180, 0.8);
  padding: 8px;
  border-radius: 10px;
  border-color: rgb(139, 0, 139);
  font-family: "Roboto Mono", monospace;
  font-size: medium;
  font-weight: 40px;
  font-style: normal;
}
label{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  color: rgb(50, 100, 102);
  background-color: azure;
  border-radius: 5px;
  padding: 3px;
}
option{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}
select{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  background-color: rgb(220, 240, 245)
}
input{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  background-color: rgb(220, 240, 245);
}
fieldset{
  background-color: #d4eae7;
}
#table1{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  border: solid black;
  text-align: center;
  width: 500px;
  margin: auto;
  border-collapse: collapse;
}
thead{
  border: solid black;
}
td,th,tr{
  border: dotted black;
  text-align: center;
  height: fit-content;
}
#row1{
  background-color: antiquewhite;
}
#head1{
  background-color: #fd7878;
}
#table2{
font-family: "Roboto Mono", monospace;
font-size: large;
border-radius: 0px 10px;
border-style: solid;
border-color: purple;
background-color: #d4eae7;
margin: auto;
padding: 10px;
height: 400px;
}
img{
  width: 300px;
  height: 300px;
}
#img1{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgb(41, 41, 41);
  display: inline-block;
  margin: 25px;
}
#img2{
  display: inline-block;
  margin: 25px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 1px 2px 2px rgb(41, 41, 41);
}
a{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  background-color: #badfdb;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
iframe,video{
  width: 900px;
  height: 500px;
}
object{
  width: 900px;
  height: 500px;
}
audio{
  padding: 10px;
  background-color: #d4eae7;
  margin: auto;
  border-radius: 10px;
}
#frame1{
  width: 800px;
  height: 534px;
}