@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bitcount+Grid+Single:wght@100..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
  background-color: #ffd2d2;
  text-align: center;
}
h1{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  color: cadetblue;
  background-color: #badfdb;
  text-align: center;
}
h2{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  background-color: #ffa4a4;
  color: rgb(50, 100, 102);
  text-align: center;
}
p{
  font-family: "Playwrite HR";
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  color: rgb(253, 73, 73);
  background-color: azure;
  padding: 15px;
  width: 700px;
  text-align: left;
  border-radius: 10px;
}
span{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: bold;
  color: red;
}
li{
  font-family: "Playwrite HR";
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  color: rgb(253, 73, 73);
  background-color: azure;
  padding: 10px;
  width: 700px;
  text-align: left;
  border-radius: 6px;
}
ol{
  list-style-type: upper-alpha;
}
ul{
  list-style-type: circle;
  display: inline-flexbox;
}
article{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  float: right;
  background-color: #ffa4a4;
  color: rgb(50, 100, 102);
  width: 300px;
}
fieldset{
  display: inline;
  margin: 5px;
  color: rgb(204, 87, 240);
  border-color: azure;
  border-radius: 9px;
  border-width: auto;
}
legend{
  color: hotpink;
  background-color: azure;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: oblique;
}
button{
  color: #fcc7c7;
  background-color: rgb(255, 105, 180, 0.8);
  padding: 8px;
  border-radius: 10px;
  border-color: rgb(139, 0, 139);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}
label{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  color: rgb(50, 100, 102);
  background-color: azure;
  border-radius: 5px;
  padding: 3px;
}
option{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}
select{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  background-color: rgb(220, 240, 245)
}
input{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
  background-color: rgb(220, 240, 245);
}
fieldset{
  background-color: #d4eae7;
}