@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(69, 69, 69);
}
h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  color: rgb(201, 31, 31);
  background-color: rgb(30, 30, 30);
  width: 605px;
  border: 10px;
  border-radius: 50px 0px 50px 0px;
  margin: auto;
  padding: 10px;
  font-size: 100px;
  text-align: center;
}
p{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-weight: 100;
  font-style: normal;
  margin: auto;
  color: black;
  background-color: rgb(171, 170, 170);
  padding: 10px;
  text-align: center;
}
div{
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  width: 450px;
  height: 250px;
  margin: auto;
}
#div1{
  position: absolute;
  top: 300px;
  left: 10px;
  background-color: rgb(171, 170, 170);
  color: black;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
}
#div1:hover{
  top: 300px;
  left: 200px;
  background-color: transparent;
  color: transparent;
  transform: rotate(180deg);
}
#div2{
  position: absolute;
  top: 300px;
  left: 10px;
  background-color: rgb(171, 170, 170);
  color: black;
}
#div3{
  background: url(SLIKE/911.jpg);
  position: absolute;
  top: 600px;
  left: 10px;
}
#div3:active{
  background: url(SLIKE/964.jpg);
  top: 600px;
  left: 10px;
}
.button{
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 300;
  font-size: 100px;
  text-decoration: none;
  position: absolute;
  top: 500px;
  left: 800px;
  background-color: rgb(30, 30, 30);
  color: rgb(201, 31, 31);
  padding: 20px 15px;
  margin: auto;
  border-radius: 30px 0px 30px 0px;
  cursor: pointer;
  transition: 2s ease;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
}
.button:focus{
transform: scale(1.5);
color: rgb(255, 217, 0);
background-color: rgb(170, 0, 0);
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
}