@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Bitcount:wght@100..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
body{
    background-image: url(slike/pexels-dmitrytomashek-27745906.jpg);
    background-size: 1500px;
    text-align: center;
}
h1{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 60px;
  font-weight: 700;
  font-style: unset;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  border: 3px;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}
p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 20px 50px 5px 50px;
  padding: 20px;
  border-radius: 30px;
  opacity: 85%;
}
img{
    height: 300px;
    width: 300px;
}
#slika1{
    position: absolute;
    backface-visibility: visible;
    animation: a1 5s ease-in-out ;
}
#slika2{
    position: absolute;
    backface-visibility: hidden;
    animation: a1 5s ease-in-out ;
}
@keyframes a1 {
50% {transform: rotateX(180deg);}
100% {transform: rotateX(360deg);}
}
#vanjski {
  perspective: 1000px;
  transform: translateX(500px) scale3d(0.8, 0.8, 1 );
}
#unutarnji {
  position: relative;
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
  animation: a2 12s linear infinite;
}
.stranice {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.7;
  box-shadow: 0 0 20px #00ccff;
  border: 2px solid #00ccff;
}
.s1 { 
    transform: rotateX(0deg);
    color: #00ffff; 
}
.s2 { 
    transform: rotateX(30deg);
    color: #00ccff; 
}
.s3 { 
    transform: rotateX(60deg);
    color: #0099ff; 
}
.s4 { 
    transform: rotateX(90deg);
    color: #0066ff; 
}
.s5 { 
    transform: rotateX(120deg);
    color: #0033ff; 
}
.s6 { 
    transform: rotateX(150deg);
    color: #0000ff; 
}
@keyframes a2 {
  0% {transform: rotateY(0deg) rotateX(0deg);}
  100% {transform: rotateY(360deg) rotateX(360deg);}

}
